[submodule "Reset-RdsGracePeriod"]
	path = Reset-RdsGracePeriod
	url = https://github.com/dnemecek/Reset-RdsGracePeriod.git
[submodule "uninstall-msipackage"]
	path = uninstall-msipackage
	url = https://github.com/dnemecek/uninstall-msipackage.git
